/**
* colors
*/ 

$color-one: #132436;
$color-two: #33b89f;
$color-three: #00baff;

/**
* named colours
*/

$color-green: #9FB496;
$color-pink: #b996a0;
$color-blue: #132437;
$color-yellow: #D7BE6E;
$color-grey-blue: #D7E1E6;

/**
* status
*/ 

$color-pos: #75d76e;
$color-neg: #d76e6e;

/**
* mono
*/ 

$color-white: #ffffff;
$color-off-white: #F7F7F7;
$color-grey: #545454;
$color-light-grey: #bbbbbb;
$color-dark-grey: #464646;
$color-dark-blue: #132436;
$color-off-black: #1e2837;
$color-black: #1F1F1F;