$h1-font-size: 2.15rem;
$h2-font-size: 2rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.45rem;
$h5-font-size: 1.45rem;
$h6-font-size: 1.45rem;

// base font settings
$font-size-base: 14px;
$font-family-base: montserrat, sans-serif;
$headings-font-family: freight-big-pro, serif;
$line-height-base: 1.4;
$paragraph-margin-bottom: $lh;
$body-color: $color-dark-grey;

// font weights
$fw-light: 100;
$fw-normal: 300;
$fw-book: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$font-weight-base: $fw-normal;

// font sizes
$fz-xxs: 0.65rem;
$fz-xs: 0.75rem;
$fz-sm: 0.875rem;
$fz-md: 1rem;
$fz-lg: 1.25rem;
$fz-xl: 1.5rem;
$fz-xxl: 2.2rem;