/**
* .bg
*/

.bg {

	&--green {

		background-color: $color-green;

	}

	&--pink {

		background-color: $color-pink;

		.button {

			background-color: $color-dark-blue !important;
			color: $color-white !important;

		}

	}

	&--blue {

		background-color: $color-blue;

	}

	&--yellow {

		background-color: $color-yellow;

		a:hover {

			color: $color-dark-blue;
			border-bottom: 2px solid currentColor;

		}

	}

	&--white {

		background-color: $color-white;	

		.button {

			@extend .dark;

		}	

	}

	&--off-white {

		background-color: $color-off-white;		

	}

	&--grey {

		background-color: $color-grey;		

	}

	&--light-grey {

		background-color: $color-light-grey;		

	}

	&--grey-blue {

		background-color: $color-grey-blue;
		color: $color-black;		

	}

	&--dark-grey {

		background-color: $color-dark-grey;		

	}

	&--dark-blue {

		background-color: $color-dark-blue;		
		color: $color-white;

	}

	&--black {

		background-color: $color-black;		
		color: $color-white;

	}

}