@keyframes spinner {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}

}

@keyframes up {

	0% {
		transform: translateY($sp-extra-large);
	}

	100% {
		transform: translateY(0);
	}
	
}

@keyframes fadeUp {

	0% {
		opacity: 0;
		transform: translateY($sp-extra-large);

	}

	100% {
		opacity: 1;
		transform: translateY(0);

	}
	
}

@keyframes fade {

	0% {
		opacity: 0;

	}

	100% {
		opacity: 1;

	}
	
}

@keyframes out {

	0% {
		opacity: 1;

	}

	100% {
		opacity: 0;

	}
	
}

@keyframes fadeFromRight {

	0% {
		opacity: 0;
		transform: translateX($sp-large);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
	
}

@keyframes fadeFromLeft {

	0% {
		opacity: 0;
		transform: translateX(-$sp-large);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
	
}
