/**
* Transition
*/

@mixin transition($effect: all, $time: $timing-fast, $ease: ease-in-out) {

	transition: $effect $time $ease;

}

/**
* truncate
*/

@mixin truncate() {

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

}

/**
* posFix
*/

@mixin posFix($index: 1) {

	position: fixed;
	z-index: $index;

}

/**
* posAbs
*/

@mixin posAbs($index: 0) {

	position: absolute;
	z-index: $index;

}

/**
* posAbs
*/

@mixin posRel($index: 0) {

	position: relative;
	z-index: $index;

}

/**
* flex
*/

@mixin flex($direction: row) {

	display: flex;
    flex-wrap: wrap;
    flex-direction: $direction
    
}

/**
* .form-control
*/

@mixin form-control {

	border: none;
	border-radius: 0;
	border-bottom: 1px solid $color-light-grey;
	color: $color-grey;
	padding: $sp-extra-small;
	width: 100%;
	display: block;
	font-style: italic;

	&:active,
	&:focus {

		border-bottom: 1px solid $color-one;

	}

}

