/************************************************************************
* padding top
************************************************************************/ 

/**
* .pdt
*/ 

.pdt { 

	&--n {

		padding-top: 0;

	}

	&--xs {

		padding-top: $sp-extra-small;

	}

	&--s {

		padding-top: $sp-small;

	} 

	&--m {

		padding-top: $sp-medium;

	}

	&--l {

		padding-top: $sp-large;

	}

	&--xl {

		padding-top: $sp-extra-large;

	}

}

/************************************************************************
* padding bottom
************************************************************************/ 

/**
* .pdb
*/ 

.pdb {

	&--n {

		padding-bottom: 0;

	}

	&--xs {

		padding-bottom: $sp-extra-small;

	} 

	&--s {

		padding-bottom: $sp-small;

	}

	&--m {

		padding-bottom: $sp-medium;

	}

	&--l {

		padding-bottom: $sp-large;

	}

	&--xl {

		padding-bottom: $sp-extra-large;

	}

}

/************************************************************************
* padding left
************************************************************************/ 

/**
* .pdl
*/ 

.pdl {

	&--n {

		padding-left: 0;

	}

	&--xs {

		padding-left: $sp-extra-small;

	}

	&--s {

		padding-left: $sp-small;

	}

	&--m {

		padding-left: $sp-medium;

	}

	&--l {

		padding-left: $sp-large;

	}

	&--xl {

		padding-left: $sp-extra-large;

	}

}

/************************************************************************
* padding right
************************************************************************/ 

/**
* .pdr
*/ 

.pdr {

	&--n {

		padding-right: 0;

	}

	&--xs {

		padding-right: $sp-extra-small;

	}

	&--s {

		padding-right: $sp-small;

	}

	&--m {

		padding-right: $sp-medium;

	}

	&--l {

		padding-right: $sp-large;

	}

	&--xl {

		padding-right: $sp-extra-large;

	}

}

/************************************************************************
* padding vertical
************************************************************************/ 

/**
* .pdv
*/

.pdv { 

	&--n {

		padding-top: 0;
		padding-bottom: 0;

	}

	&--xs {

		padding-top: $sp-extra-small;
		padding-bottom: $sp-extra-small;

	}

	&--s {

		padding-top: $sp-small;
		padding-bottom: $sp-small;

	}

	&--m {

		padding-top: $sp-medium;
		padding-bottom: $sp-medium;

	}

	&--l {

		padding-top: $sp-large;
		padding-bottom: $sp-large;

	}

	&--xl {

		padding-top: $sp-large;
		padding-bottom: $sp-large;

		@include media-breakpoint-up(sm) {
			
			padding-top: $sp-extra-large;
			padding-bottom: $sp-extra-large;

		}

	}

}

/************************************************************************
* padding horizontal
************************************************************************/ 

/**
* .pdh
*/

.pdh { 

	&--n {

		padding-left: 0;
		padding-right: 0;

	}

	&--xs {

		padding-left: $sp-extra-small;
		padding-right: $sp-extra-small;

	}

	&--s {

		padding-left: $sp-small;
		padding-right: $sp-small;

	}

	&--m {

		padding-left: $sp-medium;
		padding-right: $sp-medium;

	}

	&--l {

		padding-left: $sp-large;
		padding-right: $sp-large;

	}

	&--xl {

		padding-left: $sp-extra-large;
		padding-right: $sp-extra-large;

	}

}

/************************************************************************
* statics
/************************************************************************/

/**
* .pxs
*/ 

.pxs {

	padding: $sp-extra-small;

}

/**
* .ps
*/ 

.ps {

	padding: $sp-small;

}

/**
* .pm
*/ 

.pm {

	padding: $sp-medium;
	
}

/**
* .pl
*/ 

.pl {

	padding: $sp-large;

}

/**
* .pxl
*/ 

.pxl {

	padding: $sp-extra-large;

}