/**
* .relative
*/

.relative {

	@include posRel();

}

/**
* .absolute
*/

.absolute {

	@include posAbs();

}

/**
* .fixed
*/

.fixed {

	@include posFix();

}

/**
* .top
*/

.top {

	&--0 {

		top: 0;

	}

}

/**
* .right
*/

.right {

	&--0 {

		right: 0;

	}

}

/**
* .bottom
*/

.bottom {

	&--0 {

		bottom: 0;

	}

}

/**
* .left
*/

.left {

	&--0 {

		left: 0;

	}

}