/**
* .pull
*/

.pull {

	&__self {

		> div {

			@include posRel();
			padding-top: $sp-large;

			@include media-breakpoint-up(lg) {

				padding-top: $sp-medium;

				&:before {

					content: '';
					background-color: inherit;
					position: absolute;
					z-index: 10;
					bottom: 100%;
					left: 0;
					width: 100%;
					height: $sp-medium;
					max-width: inherit;
					
				}

			}

		}

	}

	&__next {

		&:not(.contact) { 

			> div {

				padding-top: $sp-large;

				@include media-breakpoint-up(md) {

					padding-top: 0;

				}

			}

		}

		> div {

			@include posRel();

			@include media-breakpoint-up(md) {

				&:before {

					content: '';
					background-color: inherit;
					position: absolute;
					z-index: 10;
					top: 100%;
					left: 0;
					width: 100%;
					height: $sp-medium;
					max-width: inherit;
					
				}

			}

		}

		&.contact {

			h2 {
				padding-top: 0;

				@include media-breakpoint-up(md) {
					padding: $sp-medium;
				}
			}

		}

	}

}	