/**
* body
*/

body { 

	letter-spacing: 0.03rem;
	color: $color-off-black;
	padding-top: 90px;

	&.no__hero {

		main section:first-of-type:not(.carousel--wrapper) {

			padding-top: $sp-large;

		}

	}
	
}

/**
* *
*/

* {

	letter-spacing: inherit;

}

/**
* div[class^="col-"]
*/

div[class^="col-"]:not(.mdb--n) {

	margin-bottom: $sp-medium;

}

/**
* .row
*/

.row:not(.mdb--n) {

	margin-bottom: - $sp-medium;

}

/**
* .masthead
*/

.masthead {

	z-index: 20 !important;

}

/**
* main
*/

main {

	section {

		background-color: $color-white;
		@include posRel(1);

	}

}