/**
* .rbc-calendar
*/ 

.rbc-calendar {

	@include flex(column);

}

/**
* .rbc-toolbar
*/ 

.rbc-toolbar {

	display: flex; 
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	margin-bottom: $sp-small;

}

/**
* .rbc-btn-group
*/ 

.rbc-btn-group {

	display: inline-block;
    white-space: nowrap;

    button {

		display: inline-block;
		background: $color-one;
		color: $color-white;
		font-weight: $fw-bold;
		margin-right: 1px;
		margin-left: 1px;

		&:first-of-type {

			margin-left: 0;
			display: none;

		}

		&:last-of-type {

			margin-right: 0;

		}

		&.rbc-active {
	
			background: $color-one;

		}

		&:hover {

			background-color: $color-yellow;
			color: $color-white;

		}

    }

    &:last-of-type {

		display: none;

    }

}

/**
* .rbc-toolbar-label
*/ 

.rbc-toolbar-label {

	display: inline-block;
	vertical-align: middle;
	line-height: 2;
	font-weight: $fw-bold;
	font-size: $fz-lg;
	color: $color-one;

}

/**
* .rbc-event
*/ 

.rbc-event {

	background: $color-neg;
	padding: $sp-extra-small;
	color: $color-white;
	height: 100%;

}

/**
* .rbc-day-bg
*/ 

.rbc-day-bg {

	position: relative;
	z-index: -1;

	&:nth-of-type(even) {

		background: $color-off-white;
	
	}

    &.rbc-selected-cell {

		background: rgba($color-one, 0.11);

    }

}	

/**
* .rbc-today
*/ 

.rbc-today {

	background: rgba($color-one, 0.11);

}

/**
* .rbc-month-view
*/ 

.rbc-month-view {

	position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    width: 100%;
    user-select: none;
    height: 100%;

	.rbc-month-header {

		display: flex;
		flex-direction: row;
		text-align: center;
		background: $color-off-white;
		font-weight: $fw-bold;

		.rbc-header {
	
			padding-top: $sp-small;
			padding-bottom: $sp-small;

			&:last-of-type {

				border-right: none;

			}
		
		}

	}

	+ div {

		line-height: $lh;

	}

	/**
	* .rbc-date-cell
	*/ 
	
	.rbc-date-cell {
	
		text-align: right;
		padding: $sp-small;
		height: 80px;

		a {
	
			cursor: auto;
			color: $color-grey;

		}

		&:hover {

			background-color: $color-yellow;

		}
	
	}

	.rbc-row {
	
		display: flex;
		flex-direction: row;

		&:last-of-type {
			@include posAbs;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			height: 100%;
		}

	}

	.rbc-month-row {
	  
	    display: flex;
	    position: relative;
	    flex-direction: column;
	    min-height: $sp-large;
	    height: 100%;
    	border-bottom: 1px solid rgba($color-light-grey, 0.35);

	    &:last-of-type {

			border-bottom: none;

	    }

	}

	.rbc-row-bg {

	    display: flex;
	    flex-direction: row;
	    flex: 1 0 0;
	    overflow: hidden;
	    height: 100%;

	}


	.rbc-abs-full, .rbc-row-bg {

	    overflow: hidden;
	    position: absolute;
	    z-index: 0;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;

	}

	.rbc-row-content {

		position: relative;
		z-index: 1;
		height: 80px;

	}

	.rbc-event-continues-prior {	

		display: none;

	}

}

/**
* .rbc-month-view
*/ 

.rbc-month-view {

	position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    width: 100%;
    user-select: none;
    height: 100%;
    border: 1px solid rgba($color-light-grey, 0.35);

	.rbc-month-header {

		display: flex;
		flex-direction: row;
		text-align: center;
		background: $color-off-white;
		font-weight: $fw-bold;
	    border-bottom: 1px solid rgba($color-light-grey, 0.35);

		.rbc-header {
	
			padding-top: $sp-small;
			padding-bottom: $sp-small;
	    	border-right: 1px solid rgba($color-light-grey, 0.35);

			&:last-of-type {

				border-right: none;

			}
		
		}

	}

	+ div {

		line-height: $lh;

	}

	/**
	* .rbc-date-cell
	*/ 
	
	.rbc-date-cell {
	
		text-align: right;
		padding: $sp-small;

		a {
	
			cursor: auto;
			color: $color-grey;

		}
	
	}

	.rbc-day-bg {

    	border-right: 1px solid rgba($color-light-grey, 0.35);

		&:last-of-type {

			border-right: none;

		}

	}

	.rbc-row {
	
		display: flex;
		flex-direction: row;
		@include posRel(1);

	}

	.rbc-month-row {
	  
	    display: flex;
	    position: relative;
	    z-index: 0;
	    flex-direction: column;
	    height: 100%;

	}

	.rbc-row-bg {

	    display: flex;
	    flex-direction: row;
	    flex: 1 0 0;
	    overflow: hidden;
	    height: 100%;

	}


	.rbc-abs-full, .rbc-row-bg {

	    overflow: hidden;
	    position: absolute;
	    z-index: 0;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;

	}

	.rbc-row-content {

		position: relative;
		z-index: 1;

	}

	.rbc-event-continues-prior {	

		display: none;

	}

}