/**
* .carousel
*/

.carousel {

	&:not(.testimonials) {

		&.alternative {

			.slide {

				border-right: $sp-small solid $color-white;

			}

		}

		&.default {

			.slide {

				border-left: $sp-small solid $color-white;

			}

		}

		&[data-center="true"] {

			.slide {

				border-left: $sp-small solid $color-white;
				border-right: $sp-small solid $color-white;
			
			}

		}

	}

	&--navigation {

		z-index: 4;
		top: 50%;
		transform: translateY(-50%);
		background-color: $color-white;
		text-align: center;
		height: 60px;
		width: 30px;

		&[data-direction="previous"] {

			left: 0;

		}

		&[data-direction="next"] {

			right: 0;

		}

		svg {

			fill: $color-dark-blue;
			width: 10px;
			height: auto;

		}

	}

}

/**
* .carousel--wrapper
*/

.carousel--wrapper {

	&.alternative {

		padding-left: 40px;

	}

	&.default {

		padding-right: 40px;

	}

	@include media-breakpoint-up(md) {

		&.alternative {

			padding-left: 45px;

		}

		&.default {

			padding-right: 45px;

		}
		
	}

}