/**
* .contact
*/

.contact {

	h2 {

		font-size: $fz-xxl;

	}

	&--wysiwyg,
	&--address,
	&--details {

		@include media-breakpoint-up(lg) {
			
			padding-left: $sp-medium;
			padding-right: $sp-medium;

		}

	}

	svg {

		&:hover {
			fill: $color-one;
		}

	}

	.contact--socials {

		@include media-breakpoint-up(lg) {
			max-width: fit-content;
		}

		a:hover {
			border-bottom: 0;
		}

	}

}

.contact--type {
	min-width: 80px;
}

/**
* .contact--wysiwyg
*/

.contact--wysiwyg {

	@include media-breakpoint-up(lg) {

		max-width: 695px;
		margin-left: auto;
		margin-right: auto;
		
	}

	@include media-breakpoint-up(xl) {
		margin-right: 0;
		margin-left: 0;
	}

}

