article.download {
	height: 100%;

	svg {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	a {
		display: inline-block;
	}

	a:hover {
		svg {
			fill: $color-yellow;
		}
	}
}

svg.download {
	width: $sp-medium;
	height: auto;
	fill: $color-one;
	transition: none;
}