/**
* .feature
*/

.feature {

	position: relative;
	z-index: 0;

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;

		&[class*="wp-image"] {
			width: 90%;
			max-width: 250px;
		}
	}

	&--container div > *:last-child {

		margin-bottom: 0;

	}

}	