/**
* .leader
*/

.leader {

	position: relative;
	z-index: 1;

}


/**
* .leader--logo
*/ 

.leader--logo {

	display: inline-block;
	padding-left: $sp-extra-small;
	padding-right: $sp-extra-small;

	img {

		max-height: 50px;
		width: auto;
		display: block;
		border: 5px solid white;

	}

}

/**
* .leader--text
*/ 

.leader--text {

	text-transform: none;

}

/**
* .leader--content
*/ 

.leader--content {

	text-align: center;

}