/**
* .gallery--masonry
*/

.gallery--masonry {
	overflow: hidden;
	.row:hover {
		.gallery--thumbnail {
			opacity: 0.85;

			&:hover {
				opacity: 1;
			}
		}
	}
}

/**
* .gallery
*/

.gallery--thumbnail {
	overflow: hidden;
	@include transition;

	&:hover {
		img {
			filter: grayscale(0);
			transform: scale(1.2) rotate(-7.5deg);
		}
	}

	img {
		filter: grayscale(1);
	}
}