.masthead {
	padding-left: $sp-extra-small;
	padding-right: $sp-extra-small;

	@include media-breakpoint-up(sm) {
		padding-left: $sp-small;
		padding-right: $sp-small;
	}

	@include media-breakpoint-down(md) {
		.logo {
			margin-inline: auto;
		}

		.masthead--actions {
			position: absolute;
			right: 0;
		}
	}

	&--numbers {
		@include media-breakpoint-down(md) {
			display: none;
		}
	}

	.nav--wrapper {
		margin-left: 0;

		@include media-breakpoint-down(md) {
			margin-left: auto;
		}
	}

	&--actions {
		margin-left: -7.5px;
		margin-right: 0;
		padding-inline: 7.5px;

		> * {
			padding-inline: 7.5px;
		}
	}

	&--ctas {
		margin-left: auto;

		.row {
			margin-inline: -7.5px;

			> * {
				padding-inline: 7.5px;
			}
		}

		@include media-breakpoint-down(md) {
			display: none;
		}

		.button {
			padding-inline: .66rem;
			font-size: .65rem;
			height: 35px;
			line-height: 35px;
		}
	}
}