/**
* .hero
*/

.hero {
	width: 100%;
	top: 0;
	left: 0;
	transform: translate3d(0);
	backface-visibility: hidden;

	& + section {
		margin-top: -2.5rem;
		position: relative;
		z-index: 1;
	}

	&--altImage {

		img { 

			display: block;
			margin-left: auto;
			margin-right: auto;
			max-width: 250px;
			width: 55%;

		}

	}

	&--content {

		top: 50%;
		transform: translateY(-50%);
		will-change: margin;
		margin-top: $sp-small;

		@include media-breakpoint-up(md) {
			margin-top: 0;
		}

	}

	&--title {

		line-height: 1;

	}

	.hero--buttons {
		margin-top: $sp-medium;

		@include media-breakpoint-up(md) {
			margin-top: $sp-large;
		}

		> div {
			margin-bottom: $sp-small;
		}
	}

}