/**
* .lightbox
*/

.lightbox {
	position: fixed;
	z-index: 20;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	animation: fade $timing-default;

	&.left {
		img {
			animation: fadeFromRight $timing-default;
		}
	}

	&.right {
		img {
			animation: fadeFromLeft $timing-default;
		}
	}

	&--mask {
		background-color: rgba($color-black, 0.75);
		position: fixed;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.container {
		position: relative;
		z-index: 1;
		top: 50%;
		transform: translateY(-50%);
		max-width: max-content;
	}

	img {
		max-height: 80vh;
		width: auto;
		display: block;
		margin: 0 auto;
		border: 3px solid $color-white;
	}

	#lightboxClose {
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		background-color: $color-green;
		font-size: 2rem;
		color: $color-white;
		min-height: 44px;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: $sp-small;
		padding-right: $sp-small;

		@include media-breakpoint-up(md) {
			min-height: 47.5px;
		}
	}

	#lightboxNext {
		position: fixed;
		z-index: 10;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		background-color: $color-green;
		font-size: 1.5rem;
		color: $color-white;
		min-height: 44px;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: $sp-small;
		padding-right: $sp-small;

		@include media-breakpoint-up(md) {
			min-height: 47.5px;
		}
	}

	#lightboxPrev {
		position: fixed;
		z-index: 10;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		background-color: $color-green;
		font-size: 1.5rem;
		color: $color-white;
		min-height: 44px;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: $sp-small;
		padding-right: $sp-small;

		@include media-breakpoint-up(md) {
			min-height: 47.5px;
		}
	}
}