/**
* .logo
*/

.logo {

	max-width: 180px;

	@include media-breakpoint-up(md) {
		
		max-width: 240px;

	}

}

.footer-logo {
	display: block;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
}