/**
* .nav--wrapper
*/

.nav--wrapper {

	height: 100%;

}

/**
* .nav--trigger
*/

.nav--trigger {

	width: 20px;
	height: 20px;

	svg {

		fill: $color-dark-blue;
		width: auto;
		height: 100%;

		&.times {

			// margin-top: -9px;
			fill: $color-white;

		}

		&:hover {

			fill: $color-yellow;

		}

	}

}

/**
* #topNavigation
*/

#topNavigation {
	width: 100%;
	height: 100%;
	text-align: center;
	overflow-y: scroll;
	overflow-x: hidden;
	animation: fade ease-in-out $timing-fast forwards;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */

	&::-webkit-scrollbar {
	  display: none;
	}

	&.out { 

		animation: out ease-in-out $timing-fast forwards;

	}

	ul {
		margin-bottom: 0;
	}

	li { 

		a {

			animation: fadeUp ease-in-out $timing-slow forwards;
			opacity: 0;

		}

		@for $i from 1 to 10 {

			&:nth-child(#{$i}) a { 

				animation-delay: $i * 25ms;

			}

		}

	}

	.nav--trigger {
		margin-top: 1.7rem;
	}

	.nav--inner {
		margin-top: 2rem;
	}

	.nav--body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100vh;
	}

}

.nav--buttons {
	max-width: max-content; 
	margin-inline: auto;
	margin-top: 2rem;
}