/**
* .pagination
*/

.pagination {

	text-align: center;
	padding-bottom: $sp-large;

	.nav-links {

		@include flex;
		@extend .align-items-center;
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		list-style: none;
		padding-left: 0;

		> * {

			@extend .col-auto;
			font-weight: $fw-bold;
			font-size: $fz-sm;
			margin-left: $sp-extra-small;
			margin-right: $sp-extra-small;
			padding: 0;

		}

		a {

			background-color: $color-one;
			color: $color-white;
			padding: $sp-extra-small;
			border-bottom: 0;
			display: block;
			text-transform: uppercase;
			font-size: $fz-xxs;
			font-weight: $fw-semiBold;
			letter-spacing: 0.15rem;

			&:hover {

				border-bottom: 0;
				background-color: $color-yellow;

			}

		}

	}

}