/**
* .pair
*/

.pair {

	&--content {

		max-width: 550px;
		margin-left: auto;
		margin-right: auto;
		padding-left: $sp-medium;
		padding-right: $sp-medium;

		h1, h2, h3, h4, h5, h6 {

			text-align: center;		

		}

	}

}