/**
* .room
*/

.room {

	&--content {

		max-width: 480px;
	
	}

	h3 {

		display: none;

	}

	@include media-breakpoint-up(xl) {
		
		.faux-h3 {

			display: none;

		}

		h3 {

			display: block;

		}

	}

}

/**
* .block
*/

.block {

	&--thumbnail {

		@include posRel;

		&:before {
			content: '';
			position: absolute;
			z-index: 0;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			background-color: rgba($color-black, 0.65);
		}

	}

	.hero p:last-of-type {
		
		margin-bottom: 0;
		
	}

	.room:first-of-type {

		padding-top: 0;

	}

	.room:last-of-type {

		padding-bottom: 0;

	}

}