/**
* .single.linked
*/

.single.linked {

	a {

		@include posRel;
		display: block;

		&:before {
			content: '';
			position: absolute;
			z-index: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba($color-black, 0.65);
		}

	}

	.single--title {
		position: absolute;
		z-index: 1;
		left: 50%;
		top: 50%;
		transform: translate3d(-50%, -50%, 0);

		span {
			display: inline-block;
			vertical-align: middle;
			@include transition;
		}
	}

	a:hover {
		.single--title span {
			margin-left: 10px;
		}
	}

}