/**
* .testimonials
*/

.testimonials {

	.carousel--pagination {

		color: $color-grey;

		svg {

			fill: $color-grey;
			width: $sp-small;
			margin-top: -2.5px;

		}

	}

}

/**
* .testimonial
*/

.testimonial {

	font-size: $fz-xl;

	@include media-breakpoint-up(sm) {
		
		padding-left: $sp-small;
		padding-right: $sp-small;

	}

	@include media-breakpoint-up(md) {
		
		font-size: $fz-xxl;

	}

	p {

		line-height: inherit;

	}

	svg {

		width: 27px;
		height: auto;

	}

	&--review {

		@include media-breakpoint-up(sm) {

			padding-left: 5%;
			padding-right: 5%;
			
		}

	}

	.right--quote {

		display: none;

		@include media-breakpoint-up(sm) {
			
			display: block;

		}

	}	

}