/**
* .button
*/

.button,
input[type="submit"],
button { 

	&:not(.blank) {

		display: inline-block;
		line-height: 40px;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: $sp-small;
		padding-right: $sp-small;
		text-transform: uppercase;
		background-color: $color-white;
		color: currentColor;
		font-size: $fz-xxs;
		font-weight: $fw-semiBold;
		letter-spacing: 0.15rem;
		border: none;
		font-style: normal;
		width: auto;
		transition: background-color ease-in-out $timing-default;

		@include media-breakpoint-up(sm) {
			
			letter-spacing: 0.2rem;
			padding-left: $sp-medium;
			padding-right: $sp-medium;

		}

		&.dark {

			background-color: $color-dark-blue;
			color: $color-white;

			&:hover {

				background-color: $color-yellow;
				color: $color-dark-blue;
				opacity: 1 !important;

			}

		}

		&.alt {
			background-color: $color-yellow;
			color: $color-dark-blue;

			&:hover {
				background-color: $color-white;
				color: $color-black;
			}
		}

		&:hover { 

			border: none;
			background-color: $color-yellow;
			color: $color-dark-blue;

		}

	}

	&.underline {

		text-transform: uppercase;
		letter-spacing: 0.3rem;
		font-size: $fz-xs;
		padding-bottom: 5px;
		border-bottom: 2px solid currentColor;

	}

}

/**
* button
*/

button {

	appearance: none;
	background-color: transparent;
	border: none;
	outline: none;
	border-radius: 0px;
	padding: 0;

}
