/**
* .container-fluid
*/

.container-fluid {

	max-width: 1400px;

}

/**
* .container
*/

.container {

	max-width: 1400px;

	&--sm {

		max-width: 460px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 7.5%;
		padding-right: 7.5%;

		@include media-breakpoint-up(md) {
			
			padding-left: 0;
			padding-right: 0;

		}

	}

	&--mid {

		max-width: 660px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 7.5%;
		padding-right: 7.5%;

		@include media-breakpoint-up(md) {
			
			padding-left: 0;
			padding-right: 0;

		}

	}

	&--md {

		max-width: 880px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 7.5%;
		padding-right: 7.5%;

		@include media-breakpoint-up(md) {
			
			padding-left: 0;
			padding-right: 0;

		}

	}

	&--lg {

		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 5%;
		padding-right: 5%;

		@include media-breakpoint-up(xl) {
			
			padding-left: 2.5%;
			padding-right: 2.5%;

		}

	}

}