/**
* .fw
*/

.fw {

	&--light {

		font-weight: $fw-light;

	}

	&--normal {

		font-weight: $fw-normal;

	}

	&--book {

		font-weight: $fw-book;

	}

	&--medium {

		font-weight: $fw-medium;

	}

	&--bold {

		font-weight: $fw-bold;

	}

}