/**
* .fz
*/

.fz {

	&--xxs {

		font-size: 0.5rem;

	}

	&--xs {

		font-size: $fz-xs;

	}

	&--sm {

		font-size: $fz-sm;

	}

	&--md {

		font-size: $fz-md;

	}

	&--lg {

		font-size: $fz-lg;

	}

	&--xl {

		font-size: $fz-xl;

	}

	&--xxl {

		font-size: $fz-lg;

		@include media-breakpoint-up(sm) {
			
			font-size: $fz-xxl;
			
		}

	}

	&--r {

		font-size: calc(#{$fz-lg} + 5vw);

		@include media-breakpoint-up(md) {
			
			font-size: calc(#{$fz-lg} + 4.25vw);

		}

	}

}