/**
* input
*/

input { 

	@include form-control;

	&[type="checkbox"],
	&[type="radio"] {

		width: auto;
		display: inline-block;
		vertical-align: middle;
		margin-right: $sp-extra-small;
		margin-top: -2.5px;

	}
	
}

/**
* textarea
*/

textarea { 

	@include form-control;
	border: 1px solid $color-light-grey;

}

/**
* .hidden_label
*/

.hidden_label {

	> label {

		opacity: 0;

	}

}

/**
* .gform_wrapper
*/

.gform_wrapper {

	max-width: 700px;
	margin-left: auto;
	margin-right: auto;

}	

/**
* .gform_fields
*/

.gform_fields {

	padding-left: 0;
	list-style: none;

}

/**
* .gfield_radio
*/

.gfield_radio {

	padding-left: 0;
	list-style-type: none;

}

/**
* .gfield
*/

.gfield {

	&:not(.none) {

		@include flex();

	}

	&:not(:last-child) {

		margin-bottom: $sp-small;

	}

	> label {

		@extend .col-12;
		@extend .col-md-auto;
		min-width: 25ch;
		text-transform: uppercase;
		font-weight: $fw-bold;
		font-size: $fz-xs;
		margin-top: $sp-extra-small;

	}

	.ginput_container {

		@extend .col-12;
		@extend .col-md;

		label {

			font-weight: $fw-bold;

		}

	}

	&.gfield_error.gfield_contains_required {

		input {

			border-color: $color-neg;

		}

	}

}

/**
* .ginput_container_date
*/

.ginput_container_date {

	@include posRel;

	.ui-datepicker-trigger {

		width: $sp-small;
		@include posAbs;
	    top: 50%;
	    right: $sp-small * 1.5;
	    transform: translateY(-50%);

	}

	.screen-reader-text {

		display: none;

	}

}

/**
* .ui-datepicker
*/

.ui-datepicker {

	background-color: $color-white;
	box-shadow: 0 0 100px -5px rgba($color-one, 0.2);
	padding: $sp-small;
	border-radius: $sp-extra-small;
	border: 1px solid $color-off-white;
	color: $color-dark-grey;

	.ui-datepicker-header,
	.ui-datepicker-title {

		@include flex;
		justify-content: space-between;

	}

	.ui-datepicker-title {

		width: 100%;
		margin-top: $sp-extra-small;
		margin-bottom: $sp-small;
		padding-bottom: $sp-small;
		border-bottom: 1px solid $color-one;

	}

	select {

		width: 45%;

	}

	table {

		width: 100%;

		th,
		td,
		td a {

			color: $color-grey;
			font-weight: $fw-normal;
			text-align: center;

		}

	}

}

/**
* .gfield_consent_description
*/

.gfield_consent_description {

	padding-left: $sp-small;
	font-size: $fz-sm;
	line-height: 1.8;

	@include media-breakpoint-up(md) {
		
		margin-left: 150px;

	}

}

/**
* .ginput_container_consent
*/

.ginput_container_consent {

	margin-top: $sp-small;

	@include media-breakpoint-up(md) {
		
		margin-left: 150px;

	}

}

/**
* .ginput_container_radio
*/

.ginput_container_radio {

	margin-top: $sp-extra-small;

}

/**
* .gform_button
*/

.gform_button {

	@extend .dark;

}

/**
* .gform_footer
*/

.gform_footer {

	text-align: center;	
	margin-top: $sp-medium;

}

/**
* .gform_ajax_spinner
*/

.gform_ajax_spinner {

	display: inline-block;
	margin-left: $sp-small;
	width: 20px;
	height: auto;
	animation: spinner 1s infinite;
	animation-timing-function: linear;

}

/**
* .validation_error
*/

.validation_error {

	color: $color-neg;
	font-size: $fz-lg;
	font-family: $headings-font-family;
	margin-bottom: $sp-small;
	padding-left: $sp-small;
	padding-right: $sp-small;

}

/**
* .gform_confirmation_message
*/

.gform_confirmation_message {
	font-size: $fz-lg;
	font-family: $headings-font-family;
	margin-bottom: $sp-small;
	padding-left: $sp-small;
	padding-right: $sp-small;
}

/**
* .validation_message
*/

.validation_message {

	color: $color-neg;
	font-weight: $fw-bold;
	margin-top: $sp-extra-small;
	width: 100%;
	padding-left: $sp-small;
	padding-right: $sp-small;

}

select {
	appearance: none;
	width: 100%;
	line-height: 38px;
	display: block;
	border-radius: 3px;
	border-color: #bbbbbb;
	padding-inline: 1rem;
	background-image: url('/wp-content/themes/kaluna/assets/svgs/caret-down.svg');
	background-repeat: no-repeat;
	background-position: calc(100% - 1rem) 50%;
	background-size: 15px;
}