/**
* img
*/

img { 

	max-width: 100%;
	width: 100%;
	height: auto;
	display: block;
	@include transition;

	&[class*="wp-image"] {

		width: fit-content;
		height: auto;

	}

	&.jsImages {
	
		opacity: 0;

		&.loaded {

			opacity: 1;

		}

	}
	
}

/**
* svg
*/

svg { 

	display: inline-block;
	vertical-align: middle;
	width: $sp-medium;
	height: $sp-medium;
	fill: $color-dark-grey;
	@include transition;

	&:hover {

		fill: $color-yellow;

	}

}
