/**
* a
*/

a { 

	color: $color-one;
	text-decoration: none;
	font-weight: $fw-bold;

	&:hover {

		color: $color-yellow;
		text-decoration: none;

	}

	&:not(.bd--n) {

		// border-bottom: 2px solid transparent;

		&:hover {

			// border-bottom: 2px solid currentColor;

		}
			

	}

}

/**
* p a
*/ 

p a {

	font-weight: $fw-bold;

}