/**
* ul	
*/

ul {

	list-style-type: circle;
	list-style-position: inside;
	padding-left: 0;

	&.nbs {

		list-style: none;
		padding-left: 0;

	}

	li:not(:last-child) {

		margin-bottom: $sp-extra-small;

	}

}

/**
* ol
*/

ol {

	list-style: none;
	padding-left: 0;

}